<section class="html-problems">
    <div>
        <h1 class="problem-number">Question 6 of 10</h1>
        <h2 class="problem-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tempore eaque ipsum
            ut voluptatibus modi
            voluptas culpa enim velit? Architecto possimus sed pariatur! Corrupti explicabo iusto, numquam quae quia
            minima?
        </h2>

        <div class="progress-container">
            <div class="progress"></div>
        </div>
    </div>

    <div class="options">
        <button class="option">
            <span class="option-letter">A</span>
            <span>4.5:1</span>
        </button>
    </div>

    <button class="submit">Submit Answer</button>

</section>