<section class="html-problems">
    <div>
        <h1 class="problem-number">Question {{problemIndex + 1}} of 10</h1>
        <h2 class="problem-title">{{htmlProblems[problemIndex].question}}</h2>

        <div class="progress-container">
            <div class="progress"></div>
        </div>
    </div>

    <div class="options" *ngFor="let option of htmlProblems[problemIndex].options; let i = index">
        <button #optionButton class="option" (click)="pickOption(i)"
            [ngStyle]="{'border': i === selectedOptionIndex ? '3px solid var(--purple)': ''}">
            <span class="option-letter">{{ getOptionLetter(i)}}</span>
            <span>{{option}}</span>
        </button>
    </div>

    <button class="submit" (click)="(submitAnswer($event))">Submit Answer</button>

</section>