<section class="html-problems">
    <div>
        <h1 class="problem-number">Question {{problemIndex + 1}} of 10</h1>
        <h2 class="problem-title">{{htmlProblems[problemIndex].question}}</h2>

        <div class="progress-container">
            <div class="progress"></div>
        </div>
    </div>

    <div class="options" *ngFor="let option of htmlProblems[problemIndex].options; let i = index">
        <button class="option">
            <span class="option-letter">{{ getOptionLetter(i)}}</span>
            <span>{{option}}</span>
        </button>
    </div>

    <button class="submit">Submit Answer</button>

</section>