header {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}

.theme-switch-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container {
    padding: 4px;
    background-color: var(--purple);
    border-radius: 999px;
    width: 24px;
    height: 12px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.checkbox-container>span {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 999px;
}